<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <appSettings>
        <add key="LogFileName" value="i2p_echoclient.log" />
        <!-- Levels: Everything, DebugData, Transport, Debug, Information, Warning, Error, Critical, Nothing -->
        <add key="LogFileLevel" value="Information" />
        <add key="LogFileNameTimeStamp" value="false" />
        <add key="LogFileMaxBytes" value="104857600" />

        <add key="InboundExploratoryTunnels" value="4" />
        <add key="OutboundExploratoryTunnels" value="4" />
        <add key="ExploratoryTunnelHops" value="2" />

        <add key="InboundTunnelsPerDestination" value="2" />
        <add key="OutboundTunnelsPerDestination" value="2" />
        <add key="InboundTunnelHops" value="2" />
        <add key="OutboundTunnelHops" value="2" />
        
        <add key="MaxTransitTunnels" value="0" />

        <add key="ReseedFile" value="i2pseeds.su3" />
        
        <add key="RemoteDestination" value="cpwi3h6xhl5ull2pxbwottfjiwdfci22nez2zhvlw7vdkw33q62q.b32.i2p" />
    </appSettings>
</configuration>
