<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <appSettings>
        <add key="LogFileName" value="i2p.log" />
        <add key="LogFileNameTimeStamp" value="false" />
        <!-- Levels: Everything, DebugData, Transport, Debug, Information, Warning, Error, Critical, Nothing -->
        <add key="LogFileLevel" value="Debug" />
        <add key="LogFileMaxBytes" value="104857600" />

        <add key="InboundExploratoryTunnels" value="10" />
        <add key="OutboundExploratoryTunnels" value="10" />
        <add key="ExploratoryTunnelHops" value="1" />

        <add key="InboundTunnelsPerDestination" value="2" />
        <add key="OutboundTunnelsPerDestination" value="2" />
        <add key="InboundTunnelHops" value="3" />
        <add key="OutboundTunnelHops" value="3" />
        
        <add key="MaxPassthroughTunnels" value="50" />

        <add key="ReseedFile" value="i2pseeds.su3" />
    </appSettings>
</configuration>
